@use 'sass:color';
@import '../../assets/styles/variables';

.footer {
  position: absolute;
  bottom: 0;
  background-color: $text-color;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;

  @mixin text_design($color: text-color) {
    color: $color;
    font-weight: bold;
    margin: auto;
    text-align: center;
  }

  h4 {
    @include text_design($accent-color);
  }

  h3 {
    @include text_design()
  }

  .info {
    display: flex;
    justify-content: space-between;
    background-color: $accent-color;
    bottom: 0;

    h5 {
      @include text_design();
      margin: 0 10px;
    }
  }

  .footer-content {
    display: grid;
    grid-template-columns: 2fr 3fr 3fr;
    justify-content: space-evenly;

    .summary {
      border-radius: 10px;
      color: $text-color;
      background-color: $background-color;
      margin: 10px;
      padding: 10px;
    }

    .service {
      justify-content: end;
      margin: 10px;
      padding: 10px;
    }

    .contact {
      margin: 10px;
      padding: 10px;
    }
  }
}

.info-list {
  position: relative;
  margin-left: 5px;
  list-style-type: none;
  color: $background-color;
}