<div class="footer">
  <div class="footer-content">
    <div class="summary">
      <h3>Hive Mind</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia, libero
        sapiente? Ratione vitae cupiditate, odio blanditiis dolorum illo aliquid
        eum earum ipsa, corporis minima excepturi. Perferendis nam corporis
        cupiditate omnis?
      </p>
    </div>
    <div class="service">
      <h4>Services</h4>
      <ul class="info-list">
        <li></li>
      </ul>
    </div>
    <div class="contact">
      <h4>Contact</h4>
      <ul class="info-list">
        <li><a href="">Linkedin</a></li>
        <li><a href="">Git Hub</a></li>
        <li><a href="">Instagram</a></li>
      </ul>
    </div>
  </div>
  <div class="info">
    <h5>&copy; Copyright 2024</h5>
    <h5>Paolo Cammardella</h5>
  </div>
</div>
