@import '../../assets/styles/variables';

* {
  background-color: $background-color;
}

.navigation {
  display: flex;
  padding: .5em;
  top: 0;
  justify-content: space-between;
}



.progress-container {
  position: fixed;
  /* Adjust to desired height */
  width: 100%;
}