<mat-expansion-panel id="panel" (opened)="loadMoreComments()" (closed)="clearCommentSection()">
  <mat-expansion-panel-header>
    <mat-panel-title> Write your thoughts </mat-panel-title>
  </mat-expansion-panel-header>
  <div id="comment-section">
    <form
      class="form-content"
      [formGroup]="commentForm"
      (submit)="publishComment()"
    >
      <mat-form-field appearance="outline" class="input" id="comment-input">
        <mat-label>Comment</mat-label>
        <input
          matInput
          type="text"
          formControlName="commentText"
          placeholder="Great Idea!!!"
        />
        <button id="send-button" type="submit" mat-icon-button matSuffix>
          <mat-icon >send</mat-icon>
        </button>
      </mat-form-field>
    </form>
  </div>

  <ul *ngIf="comments && comments.length > 0; else loading">
    <li *ngFor="let item of comments">
      <div id="comment">
        <h4>{{ item.username }} -</h4>
        <p>{{ item.text }}</p>
      </div>
    </li>
  <button id="load-more-btn" (click)="loadMoreComments()">Load more...</button>

  </ul>
  <ng-template #loading id="loading">
    <div id="loading-alert">
      <img
        id="loading-img"
        src="../../assets/image/nothing.png"
        alt="nothing founds"
      />
      <p id="loading-text">No comment yet</p>
    </div>
  </ng-template>
</mat-expansion-panel>
