@use '../../assets/styles/buttons.scss';
@use '../../assets/styles/divider.scss';
@use '../../assets/styles/form.scss';

@import "../../assets/styles/variables";


.nav-info{
  display: flex;
  flex-direction: column;
  margin: 0 10px;
  color: $text-color;
}

.center {
  height: 100svh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-container {
  width: 40%;
  max-width: 480px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
}

.clickable {
  display: flex;
  flex-direction: column;

  .forgot-div {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: end;

    .forgot-password {

      width: fit-content;
    }
  }
}

.change-page {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}