<div class="nav-info">
  <h1>Hive Mind</h1>
</div>
<div class="center">
  <div class="login-container">
    <img src="../../assets/image/logo.png" />
    <p>Share your ideas to the world</p>
    <form
      [formGroup]="loginForm"
      class="form-content"
      (ngSubmit)="handleLogin()"
    >
      <mat-form-field appearance="outline" class="input">
        <mat-label>username</mat-label>
        <input matInput />
      </mat-form-field>

      <mat-form-field appearance="outline" class="input">
        <mat-label>password</mat-label>
        <input matInput [type]="hide() ? 'password' : 'text'" />
        <button
          type="button"
          mat-icon-button
          matSuffix
          (click)="clickEvent($event)"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide()"
        >
          <mat-icon>{{ hide() ? "visibility_off" : "visibility" }}</mat-icon>
        </button></mat-form-field>

      <div class="clickable">
        <button mat-raised-button class="custom-button" type="submit">
          Signin
        </button>
      </div>

      <mat-divider class="divider"></mat-divider>
    </form>

    <span class="change-page">
      <p>Don't have an account?</p>
      <a routerLink="/signup"> Sign up!</a>
    </span>
  </div>
</div>
