<div class="center">
  <div id="signup-content">
    <h1>Create a new account</h1>
    <form
      class="form-content"
      [formGroup]="signupForm"
      (ngSubmit)="handleSignup()"
    >
      <div>
        <mat-form-field appearance="outline" class="input">
          <mat-label>firstname</mat-label>
          <input matInput />
        </mat-form-field>
        <mat-form-field appearance="outline" class="input">
          <mat-label>lastname</mat-label>
          <input matInput />
        </mat-form-field>
        <mat-form-field appearance="outline" class="input">
          <mat-label>username</mat-label>
          <input matInput type="text" />
        </mat-form-field>

        <mat-form-field appearance="outline" class="input">
          <mat-label>e-mail</mat-label>
          <input matInput type="text" />
        </mat-form-field>
      </div>
      <div>
        <mat-form-field appearance="outline" class="input">
          <mat-label>password</mat-label>
          <input matInput type="password" />
        </mat-form-field>

        <mat-form-field appearance="outline" class="input">
          <mat-label>ponfirm password</mat-label>
          <input matInput type="password" />
        </mat-form-field>
      </div>
      <button mat-raised-button class="custom-button" type="submit">
        Sign up
      </button>
      <!-- TODO: Controlla che ci siano tutti i campi -->
    <mat-divider class="divider"></mat-divider>
    </form>
    <span class="change-page">
      <p>Already have an account?</p>
      <a routerLink="/login" class="link">Login</a>
    </span>
  </div>
</div>
