<div class="center">
  <div id="signup-content">
    <h1>Create a new account</h1>
    <form class="form-content" [formGroup]="signupForm" (submit)="handleSignup()">
      <div>
        <mat-form-field appearance="outline" class="input">
          <mat-label>firstname</mat-label>
          <input matInput type="text" formControlName="firstName" />
        </mat-form-field>

        <mat-form-field appearance="outline" class="input">
          <mat-label>lastname</mat-label>
          <input matInput formControlName="lastName"/>
        </mat-form-field>
        
        <mat-form-field appearance="outline" class="input">
          <mat-label>username</mat-label>
          <input matInput type="text" formControlName="username"/>
        </mat-form-field>

        <mat-form-field appearance="outline" class="input">
          <mat-label>e-mail</mat-label>
          <input matInput type="text" formControlName="email"/>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field appearance="outline" class="input">
          <mat-label>password</mat-label>
          <input matInput [type]="hidePassword() ? 'text' : 'password'" formControlName="password" />
          <button
            mat-icon-button
            matSuffix
            type="button"
            (click)="togglePasswordVisibility($event)"
            [attr.aria-label]="hidePassword() ? 'Hide password' : 'Show password'"
            [attr.aria-pressed]="hidePassword()"
          >
            <mat-icon color="#fff">{{ hidePassword() ? 'visibility_off' : 'visibility' }}</mat-icon>
          </button>
        </mat-form-field>
        
        <mat-form-field appearance="outline" class="input">
          <mat-label>Confirm Password</mat-label>
          <input matInput [type]="hideConfirmPassword() ? 'text' : 'password'" formControlName="confirmPassword" />
          <button
            mat-icon-button
            matSuffix
            type="button"
            (click)="toggleConfirmPasswordVisibility($event)"
            [attr.aria-label]="hideConfirmPassword() ? 'Hide password' : 'Show password'"
            [attr.aria-pressed]="hideConfirmPassword()"
          >
            <mat-icon color="#fff">{{ hideConfirmPassword() ? 'visibility_off' : 'visibility' }}</mat-icon>
          </button>
        </mat-form-field>
      </div>
      <button mat-raised-button class="custom-button" type="submit">
        Sign up
      </button>
      <!-- TODO: Controlla che ci siano tutti i campi -->
      <mat-divider class="divider"></mat-divider>
    </form>
    <span class="change-page">
      <p>Already have an account?</p>
      <a routerLink="/login" class="link">Login</a>
    </span>
  </div>
</div>