@import '../../assets/styles/variables';

.list-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    overflow-y: auto;

    li {
        width: 60svw;
        border-radius: 10px;

        .example-card {
            background-color: #f9f1db;
            /* Beige chiaro */
            border: 1px solid #e1a948;
            /* Bordo arancione chiaro */
            border-radius: 8px;
            /* Arrotonda gli angoli */
            padding: 16px;
            /* Spazio interno */
            margin: 16px;
            /* Spazio esterno */
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            /* Ombra leggera */
            color: #333;
            /* Colore del testo */
            font-family: 'Arial, sans-serif';
            /* Font di base */
        }
mat-divider{margin-top: 1rem;}
        mat-card-header {
            margin-top: 0;
            color: $text-color;
            
            mat-card-title{
                color: $text-color;
                font-size: 1.2rem;
                font-weight: 400;
            }
            mat-card-subtitle {
                font-style: italic;
                color: #666;
            }
        }

        mat-card-content {
            margin: 1rem 0;
            line-height: .5;
        }


        .example-card-footer {
            display: flex;
            align-items: center;
            justify-content: space-between;

            .vote-section {
                button {
                    background-color: $background-color;
                    /* Bottone arancione */
                    border: none;
                    color: $text-color;
                    padding: 8px;
                    margin-right: 4px;
                    cursor: pointer;
                    border-radius: 4px;
                    text-align: center;
                }

                button:hover {
                    color: $accent-color;
                }
            }

            p {
                margin: 0;
                font-size: 0.9em;
                color: #666;
            }
        }
    }

}

#loading-alert {
    text-align: center;
    padding: 20px;

    #loading-img {
        width: 100px;
        height: auto;
        margin-bottom: 10px;
    }

    #loading-text {
        font-size: 1.2em;
        color: $text-color;
    }
}