@import '../../assets/styles/variables';

.center {
  height: 100svh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.forgot-card{
  padding: 10px;
  border: 1px solid $accent-color;
  height: 300px;
  width: 250px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $background-color;
}