:host ::ng-deep snack-bar-container.success-snackbar {
    background: #4caf50 !important;
  }
  
  :host ::ng-deep .success-snackbar .mat-simple-snackbar {
    color: #fff !important;
  }
  
  :host ::ng-deep snack-bar-container.error-snackbar {
    background: #f44336 !important;
  }
  
  :host ::ng-deep .error-snackbar .mat-simple-snackbar {
    color: #fff !important;
  }
  
  .centered-snackbar {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  