<mat-tab-group
  mat-stretch-tabs="false"
  mat-align-tabs="center"
  animationDuration="1000ms"
  [(selectedIndex)]="selectedIndex"
  (selectedIndexChange)="onTabChange($event)"
>
  <mat-tab label="Popular" id="popular-content">
    <div class="tab-content">
      <app-idea
        [totalElements]="totalElements"
        (pageNumber)="loadMoreIdeas($event)"
        [cardItems]="ideas"
        [category]="selectedIndex"
      ></app-idea>
    </div>
  </mat-tab>
  <mat-tab label="Controversial">
    <div class="tab-content">
      <app-idea
        [totalElements]="totalElements"
        (pageNumber)="loadMoreIdeas($event)"
        [cardItems]="ideas"
        [category]="selectedIndex"
      ></app-idea>
    </div>
  </mat-tab>
  <mat-tab label="Unpopular">
    <div class="tab-content">
      <app-idea
        [totalElements]="totalElements"
        (pageNumber)="loadMoreIdeas($event)"
        [cardItems]="ideas"
        [category]="selectedIndex"
      ></app-idea>
    </div>
  </mat-tab>
</mat-tab-group>
